BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 110
BreakBeforeBraces: Attach
PointerAlignment: Left
NamespaceIndentation: None
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: DontAlign
SeparateDefinitionBlocks: Always
BinPackArguments: false
BinPackParameters: false
InsertBraces: true
SortIncludes: Never
MaxEmptyLinesToKeep: 1
